@media (max-width: 1919px) {
    .sidebar {
        display: none;
    }
}


@media (max-width: 850px) {
    .price__text {
        font-size: 35px;
    }

    .offer__button {
        font-size: 35px;
        margin-left: 147px;
    }
}

@media(max-width: 570px) {
    .table__wrapper {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .table__list-second {
        margin-top: -37px;
        min-width: 273px;
    }
}

@media (max-width: 470px) {
    .price__text {
        font-size: 30px;
    }

    .offer__button {
        font-size: 27px;
        margin-left: 122px;
    }

    .list__item-box {
        padding: 2px 10px 17px 19px;
    }

    .offer__title h1 {
        left: 18%;
        font-size: 22px;
        max-width: 220px;
    }

    .list__item img {
        margin-top: 18spx;
    }
}

@media (max-width: 350px) {
    .price__text {
        margin-left: 75px;
    }

    .offer__button {
        font-size: 25px;
        margin-left: 95px;
    }
}